factbook.json/
data/bands.geojson
__pycache__/
*.pyc
factbook.json/
data/bands.geojson
__pycache__/
*.pyc
venv/
bands_with_coords.db
script
SELECT
metal_bands_roster.csv
test_geocode_results.json
metal-archives.db
archive.zip
archive/
cities500.txt
cities500.zip
